/* ============================= */
/* VARIABLES */
/* ============================= */

:root {
    --primary: #79836d;
    --secondary: #75786e;
    --tertiary: #927985;
    --neutral: #787774;
    --bone: #F5F1E8;
    --white: #ffffff;
}